

.box {
  /* border: 2px solid firebrick; */
  background-color: #226a81;
  height: 55px;
  width: 1349px;
  display: block;
}

.box1 {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 1140px;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  margin-left: 10%;
}

