

.headCase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainHeading {
  margin: 10px;
  color: #183b56;
  font-size: 2rem;
  margin: 2rem;

}

.btn {
  color: #183b56;
  border: 1px solid #183b56;
  padding: 15px;
  width: 15%;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
}

.cardCase{
  /* border: solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  

}

.card{
  margin: 8px;
  /* border: solid pink; */
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
}


.cardBtn {
  color: #183b56;
  border: 1px solid #183b56;
  padding: 15px;
  width: 35%;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
}

.btn:hover , .cardBtn:hover {
  color: #2294ed;
  font-weight: bold;
  border-color: #2294ed;
  
}



.cardImage {
  /* border: 2px solid green; */
  height: 60px;
  width: 60px;
}

.cardContent {
  height: 3.6rem;
  width: 21rem;
  font-size: 20px;
  line-height: 2rem;
  color: #577592;
  text-align: center;
}



