

.newMain {
  /* border: 2px solid greenyellow; */
  height: 706.188px;
  width: 1180px;
  padding: 0 20px 0 20px;
}

.head2 {
  text-align: center;
  /* border: 2px solid darkblue; */
  height: 48px;
  color: #183b56;
  font-size: 2rem;
  font-weight: 700;
  width: 1140px;
  margin: 30px 0 20px 0;
}

.btn {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  border: 2px solid firebrick;
  height: 51px;
  width: 194.125px;
  border: 1px solid #183b56;
  color: #183b56;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
}

.btn button:hover {
  color: #2294ed;
  border-color: #2294ed;
}

.featuresArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px solid gold; */
  height: 547.188px;
  width: 1140px;
  margin: 20px 0 0 0;
}

.featuresCard {
  /* border: 2px solid firebrick; */
  height: 263.594px;
  width: 342px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.featuresCard img {
  /* border: 2px solid green; */
  height: 60px;
  width: 60px;
}

.head3 {
  /* border: 2px solid red; */
  height: 35px;
  width: 152.703px;
  font-size: 24px;
  font-weight: 700;
  color: #183b56;
}

.para1 {
  /* border: 2px solid firebrick; */
  height: 57.5938px;
  width: 342px;
  font-size: 20px;
  line-height: 28.8px;
  color: #577592;
  text-align: center;
}

.LearnMore {
  border: 1px solid #183b56;
  height: 51px;
  width: 161.531px;
  cursor: pointer;
  background-color: #ffffff;
  color: #183b56;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px;
  border-radius: 5px;
}

.LearnMore:hover {
  color: #2294ed;
  border-color: #2294ed;
}

