
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Comfortaa", cursive;
  font-family: "Mooli", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}
